@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}


@mixin inline-animation($duration) {
  $name : inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}

